
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    -webkit-tap-highlight-color: transparent;
  }
  body {
    @apply font-sans scroll-smooth text-gray-800 bg-white antialiased;
    text-rendering: optimizeLegibility;
  }
  h1, h2, h3, h4, .font-serif {
    font-family: 'Playfair Display', serif;
  }
}

@layer components {
  .mobile-menu-enter {
    transform: translateY(-10px);
    opacity: 0;
  }
  .mobile-menu-enter-active {
    transform: translateY(0);
    opacity: 1;
    transition: all 300ms ease-out;
  }
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #baa98d;
  border-radius: 10px;
}
