
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-sans scroll-smooth text-gray-800 bg-white;
  }
  h1, h2, h3, h4, .font-serif {
    font-family: 'Playfair Display', serif;
  }
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #baa98d;
  border-radius: 10px;
}
